.table01 { background: #6A5ACD;
text-align: center;
height: 100%;
width: 100%; }


.avatar { background: #1E90FF;
text-align: center; }

.titulo { text-align: center;
font-size: "35px";
font-variant: small-caps; }

.texto { background: #FFDEAD;
text-align: center; }

.aplicativos { background: #FFDEAD;
text-align: center;
height: 100%;
width: 100%; }

.cor01 { background: #DEB887; }

.cor02 { background: #9370DB; }

.cor03 { background: #DEB887; }







